.tab-pane {
    -fx-tab-min-height: 20;
    -fx-tab-max-height: 20;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: rgb(86, 6, 172);
    -fx-border-width: 2;
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(86, 6, 172);
    -fx-font: 13px "Ubuntu Bold";
    -fx-pref-width: 80.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover{
    -fx-border-radius: 0 0 0 0;
    -fx-cursor: HAND;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: rgb(86, 6, 172);
    -fx-text-fill: white;
    -fx-cursor: DEFAULT;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: white;
}

.tab-pane:top > .tab-header-area {
    -fx-padding: 0 4 0 5; /* 5 2 0 5 */
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-cursor: HAND;
}

.tab-pane > .tab-header-area > .headers-region > .tab:disabled {
    -fx-color: white;
}