.stacked-bar-chart {
	-fx-background-color: white;
}

.chart-plot-background {
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 3;
	-fx-background-color: white;
}

.chart-vertical-grid-lines {
    -fx-stroke: rgba(86, 6, 172, 0.5);
    -fx-stroke-width: 1;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
    -fx-stroke-width: 0;
}

.data0.chart-bar {
    -fx-border-color: black;
	-fx-border-width: 2;
}

.data0.chart-bar:hover {
	-fx-background-color: white;
	-fx-border-width: 5;
}

.axis {
	-fx-tick-label-fill: rgb(86, 6, 172);
	-fx-tick-label-font: 15 "Ubuntu Bold";
	-fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}
.axis-label {
	-fx-text-fill: rgb(86, 6, 172);
	-fx-font: 15 "Ubuntu Bold";
}

.axis-tick-mark {
    -fx-stroke: rgb(86, 6, 172);
    -fx-stroke-width: 2;
}
.axis-minor-tick-mark {
    -fx-stroke: rgba(86, 6, 172, 0.2);
    -fx-stroke-width: 2;
}

.chart-legend {
	-fx-background-color: rgb(8,236, 190);

}

.chart-legend-item-symbol{
   -fx-background-radius: 6;
   -fx-min-width: 30;
   -fx-max-width: 30;
   -fx-min-height: 30;
   -fx-max-height: 30;
   -fx-border-color: rgb(86, 6, 172);
   -fx-border-width: 2;
   -fx-border-radius: 6;
}

.chart-legend-item {
	-fx-font: 14 "Ubuntu Bold";
	-fx-text-fill: blue;
}

.chart-bar {
	-fx-bar-fill: red;
}

#chart-box {
	-fx-background-color: red;
}

#chart-box .label {
	-fx-font: 16 "Ubuntu Bold";
}
