.date-picker-popup {
	-fx-background-color: rgb(86, 6, 172);
	-fx-background-radius: 10;
	-fx-effect: dropshadow( gaussian , rgba(86, 6, 172, 0.5) , 12, 0.3 , 3 , 3 );
}

.date-picker-popup > .month-year-pane {
	-fx-background-color: rgb(86, 6, 172);
	-fx-background-radius: 10;

}

.date-picker-popup > * > .spinner > .label {
	-fx-font: 15pt Arial;
	-fx-font-weight: bold;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.date-picker-popup > * >.date-cell {
	-fx-background-radius: 10;
	-fx-background-color: rgb(86, 6, 172);
	-fx-text-fill: white;
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 0;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
}

.date-picker-popup > * >.date-cell:hover {
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-opacity: 1.0;
	-fx-background-color: rgba(255, 0, 255, 0.5);
}

.date-picker-popup > * > .date-cell.selected {
	-fx-background-radius: 15;
	-fx-background-color: rgb(255, 0, 255);
	-fx-text-fill: white;
	-fx-background-radius: 10;
}

.date-picker-popup > * > .today,
.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
	-fx-background-color: rgb(8, 236, 190);
}

.date-picker-popup > .calendar-grid {
	-fx-background-color: rgb(86, 6, 172);
	-fx-background-radius: 10;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
	-fx-text-fill: rgba(191, 133, 250, 0.6);
    -fx-font: 10pt Arial;
}
.date-picker-popup > * > .day-name-cell:hover,
.date-picker-popup > * > .week-number-cell:hover {
	-fx-background-color: rgb(86, 6, 172);
	-fx-text-fill: rgba(191, 133, 250, 0.6);

}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
	-fx-text-fill: rgba(191, 133, 250, 0.6);
}

.date-picker-popup > * > .spinner > .left-button,
.date-picker-popup > * > .spinner > .right-button {
    -fx-background-radius: 7;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-max-width: 30;
    -fx-max-height: 30;
    -fx-background-color: rgb(86, 6, 172);
}

.date-picker-popup > * > .spinner > .left-arrow:hover,
.date-picker-popup > * > .spinner > .right-arrow:hover,
.date-picker-popup > * > .spinner > .left-button:hover,
.date-picker-popup > * > .spinner > .right-button:hover {
    -fx-background-color: rgba(255, 0, 255, 0.5);
}

.date-picker-popup > * > .spinner > .left-arrow:pressed,
.date-picker-popup > * > .spinner > .right-arrow:pressed,
.date-picker-popup > * > .spinner > .left-arrow:selected,
.date-picker-popup > * > .spinner > .right-arrow:selected,
.date-picker-popup > * > .spinner > .left-button:pressed,
.date-picker-popup > * > .spinner > .right-button:pressed {
    -fx-background-color: rgb(255, 0, 255);
}

.date-picker .text-field {
	-fx-font: 14px "Ubuntu Bold";
	-fx-text-fill: white;
	-fx-alignment: "center";
}

.date-picker .prompt-text {
	-fx-text-fill: white;
}

