.vbox {
	-fx-background-color: white;
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 2;
	-fx-max-width: 330;
	-fx-min-width: 330;
	-fx-min-height: 200;
	-fx-max-height: 200;
}

.vbox:hover {
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 2;
	-fx-effect: dropshadow( gaussian , rgb(144, 144, 144) , 12 , 0.3 , -5 , 5 );
}

.hbox {
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-pref-height: 40;
	-fx-min-height: 40;
	-fx-max-height: 40;
	-fx-pref-width: 300;
}

.separator {
	-fx-background-color: rgb(86, 6, 172);
}

#add-button {
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-radius: 5;
	-fx-border-width: 2;
	-fx-background-image: url("../icons/add-icon.png");
	-fx-background-size: 30;
	-fx-background-radius: 5;
	-fx-min-width: 30; 
    -fx-min-height: 30;
    -fx-max-width: 30; 
    -fx-max-height: 30;
    -fx-effect: dropshadow( gaussian , rgba(86, 6, 172, 0.3) , 8, 0.3 , 2 , 2);
}

#add-button:hover {
	-fx-background-color: rgba(86, 6, 172, 0.3);
	-fx-cursor: hand;
}

#add-button:focused {
	-fx-border-color: rgb(86, 6, 172);
}

.text-field {
	-fx-min-width: 100;
	-fx-max-width: 100;
	-fx-background-color: rgb(86, 6, 172);
	-fx-alignment: "center";

}

#combo-box1 {
	-fx-min-width: 110;
	-fx-max-width: 110;
	-fx-background-color: rgba(86, 6, 172, 0.3);
	
}

#combo-box2 {
	-fx-min-width: 170;
	-fx-max-width: 170;
	-fx-background-color: rgba(86, 6, 172, 0.3);
	
}

#combo-box1:hover,
#combo-box2:hover {
	-fx-border-color: rgba(86, 6, 172, 0.3);
	-fx-border-width: 2;
}

#message-label {
	-fx-font: 15px "Ubuntu Bold";
	-fx-font-style: italic;
	-fx-text-fill: rgba(86, 6, 172, 0.5);
}




