.button {
	-fx-min-height: 30;
	-fx-min-width: 30;
	-fx-max-height: 30;
	-fx-max-width: 30;
	-fx-border-color: black;
	-fx-border-width: 3;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}

.label {
	-fx-font: 18px "Ubuntu Bold";
}

.grid-pane {
	-fx-min-height: 500;
	-fx-max-height: 500;
	-fx-min-width: 224;
	-fx-max-width: 224;
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 2;
	-fx-background-color: white;
}

.category-pane {
	-fx-background-insets: 0, 4 0 4 4;
	-fx-padding: 10 0 10 0;
}
.amount-pane {
	-fx-background-insets: 0, 4 4 4 0;
	-fx-padding: 10 0 10 0;
}



























