.button {
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 2;
	-fx-min-height: 35;
	-fx-max-height: 35;
	-fx-min-width: 90;
	-fx-max-width: 90;
	-fx-background-color: white;
	-fx-font: 16px "Ubuntu Bold";
	-fx-text-fill: rgb(86, 6, 172);
}

.button:hover {
	-fx-background-color: rgb(86, 6, 172);
	-fx-text-fill: white;
}

.label {
	-fx-font: 16px "Ubuntu Bold";
}

.text-field {
	-fx-font: 16px "Ubuntu";
	-fx-border-color: rgb(86, 6, 172);
	-fx-border-width: 2;
	-fx-text-fill: rgb(86, 6, 172);
}





